/**
* 
* Primary Colors
*
*/
$primary-main: #5989ef;
$primary-dark: #4e7bdc;
$primary-light: #e6f1ff;

/**
* 
* Secondary Colors
*
*/
$secondary-main: #29cc8b;
$secondary-dark: #21bf80;
$secondary-light: #f1fdf4;

/**
* 
* Text Colors
*
*/
$text-main: #173e67;
$text-dark: #9eb3c2;
$text-light: #ffffff;

$white: #ffffff;
